/* Container do banner */
.banner-container {
    display: flex;
    align-items: center;
    background-color: #181220;
    padding: 15px;
    border-radius: 50px;
    position: relative;
    width: 1000px;
    height: 400px;
    margin: 20px auto;
}

/* Estilo do banner */
.banner {
    display: flex;
    background-color: #09070D;
    padding: 10px;
    border-radius: 30px;
    margin: 40px;
    width: 900px;
    height: 365px;
    align-items: center;
}

/* Imagem do banner */
.banner-capa {
    width: 288px;
    height: 385px;
    border-radius: 30px 0 0 30px;
    right: 10px;
    position: relative;
}

/* Detalhes do banner (preço, miniaturas, etc.) */
.banner-detalhes {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

/* Miniaturas dentro do banner */
.banner-miniaturas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 0 0 30px 0;
}

/* Imagens das miniaturas */
.banner-miniaturas img {
    width: 250px;
    height: 120px;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.banner-miniaturas img:hover {
    transform: scale(1.1);
}

/* Preço do produto */
.banner-preco {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

/* Botão "Ver Produto" */
.banner-botao-compra {
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
}

.banner-botao-compra:hover {
    background-color: #555;
}

/* Botões de navegação (anterior e próximo) */
.banner-botao-nav {
    background: none;
    border: none;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.726);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
}

/* Estilo de compra: flex para distribuir os itens */
.banner-compra {
    display: flex;
    justify-content: space-around;
}

/* Posição do preço */
.banner-compra p {
    position: relative;
    right: 60px;
}

/* Posição do botão de compra */
.banner-compra button {
    position: relative;
    left: 30px;
    bottom: 20px;
    right: 30px;
    background-color: #f3f3f3;
    color: #09070D;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.3s;
}

/* Botão "anterior" */
.banner-esquerda {
    left: 10px;
}

/* Botão "próximo" */
.banner-direita {
    right: 10px;
}

.banner-wrapper {
    display: none;
}

.banner-wrapper.ativo {
    display: block;
}