<<<<<<< HEAD
/* Container de busca */
.container-busca {
=======
.ctn-busca {
>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
    width: 600px;
    padding: 50px 10px; /* Ajuste de padding para simplificar */
    margin: 150px auto; /* Centraliza o container */
    background-color: #09070D;
    border-radius: 25px;
}

<<<<<<< HEAD
/* Barra de busca */
.search-bar {
=======
.searchBar {
>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
    display: flex;
    align-items: center;
    background-color: #252039;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.searchBar i {
    color: white;
    font-size: 18px;
    padding: 0 10px;
}

.searchBar input {
    flex: 1;
    border: none;
    background: none;
    color: white;
    padding: 8px;
    outline: none;
}

.searchBar button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Adiciona transição ao botão */
}

<<<<<<< HEAD
.search-bar button:hover {
    background-color: #e0e0e0; /* Efeito hover no botão */
}

/* Container de cartões */
.container-card {
=======
.ctn-card {
>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
    width: 800px;
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    background-color: #0c0915;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
}

<<<<<<< HEAD
/* Lista de produtos */
.produto-list {
=======
.list-game {
>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
    list-style: none;
    padding: 0;
    margin: 0;
}

<<<<<<< HEAD
/* Item do produto */
.produto-item {
=======
.item-game {
>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
    display: flex;
    align-items: center;
    background-color: #1e1a2e;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    position: relative; 
    transition: background-color 0.3s; /* Adiciona transição ao item */
}

<<<<<<< HEAD
.produto-item:hover {
    background-color: #252039; /* Efeito hover no item do produto */
}

.produto-item img {
=======
.item-game img {
>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
    width: 120px;  
    height: 70px;  
    transition: transform 0.3s; /* Transição para efeito de zoom */
    filter: brightness(0.7); 
}

<<<<<<< HEAD
.produto-item:hover img {
    transform: scale(1.05); /* Efeito de zoom na imagem ao passar o mouse */
}

/* Informações do produto */
.produto-info {
=======
.info-game {
>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
    position: absolute;
    left: 20px; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}

<<<<<<< HEAD
.produto-price {
=======
.price-game {
>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
    position: absolute;
    right: 15px; 
    color: #2e5cfc;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
}