.ctn-busca {
    width: 600px;
    padding: 50px;
    margin: 150px;
    background-color: #09070D;
    padding-left: 10px;
    border-radius: 25px;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: #252039;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.searchBar i {
    color: white;
    font-size: 18px;
    padding: 0 10px;
}

.searchBar input {
    flex: 1;
    border: none;
    background: none;
    color: white;
    padding: 8px;
    outline: none;
}

.searchBar button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.ctn-card {
    width: 800px;
    height: 500px;
    background-color: #0c0915;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    z-index: -1;
}

.list-game {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-game {
    display: flex;
    width: 650px;
    align-items: center;
    background-color: #1e1a2e;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    position: relative; 
}

.item-game img {
    width: 120px;  
    height: 70px;  
    transition: 0.3s;
    filter: brightness(0.7); 
}

.info-game {
    position: absolute;
    left: 20px; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}

.price-game {
    position: absolute;
    right: 15px; 
    color: #2e5cfc;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
}