@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body {
    margin: 0;
    overflow-x: hidden;
    /* Remove a barra de rolagem da tela */
}

.container-mundo-aberto h2 {
    background-color: #09070D;
    color: #fafafa;
    text-align: left;
    padding: 8px;
    margin: left 25px;
    background: linear-gradient(135deg, #09070D, transparent, #09070D);
    
    /* Permite rolagem vertical */
}

.container-mundo-aberto {
    max-width: 100%;
    height: 325px;
    justify-content: center;
    background: linear-gradient(135deg, #09070D, transparent, #09070D);
    
}


.container-acao h2 {
    background-color: #09070D;
    color: #fafafa;
    text-align: left;
    padding: 8px;
    margin: left 20px;
    background: linear-gradient(135deg, #09070D, transparent, #09070D);
    
}

.container-acao {
    max-width: 100%;
    height: auto;
    justify-content: center;
    background: linear-gradient(135deg, #09070D, transparent, #09070D);
    padding-top: 5px;
    

}


figure {
    display: flex;
    justify-content: center;
    padding: 5px;
    
    animation: animation 60s linear;
    animation-timeline: scroll;

}

figure img {
    max-width: 200px;
    height: auto;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.849);
    border-radius: 10px;

}

figure img:hover {
    transform: scale(1.1);
    opacity: 1.0;
}



.mundo-aberto {
    width: 1900px; 
    height: auto; 
    overflow-x: auto; 
    scrollbar-color:  #09070D transparent; 
}

