.container-mundo-aberto, .container-acao {
    max-width: 100%;
    justify-content: center;
    background: linear-gradient(135deg, #09070D, transparent, #09070D);
}

.container-mundo-aberto {
<<<<<<< HEAD
=======
   
>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
    height: 325px;
}

.container-acao {
    padding-top: 5px;
}

.container-mundo-aberto h2, .container-acao h2 {
    background-color: #09070D;
    color: #fafafa;
    text-align: left;
    padding: 8px;
    background: linear-gradient(135deg, #09070D, transparent, #09070D);
}

<<<<<<< HEAD
=======
.container-acao {
  
    height: auto;
    justify-content: center;
    background: linear-gradient(135deg, #09070D, transparent, #09070D);
    padding-top: 5px;
}

>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
figure {
    display: flex;
    justify-content: center;
    padding: 5px;
}

figure img {
    max-width: 200px;
    height: auto;
    margin: 12px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

figure img:hover {
    transform: scale(1.1);
}

<<<<<<< HEAD
.mundo-aberto, .acao {
    width: 100%;
    height: auto;
    overflow-x: auto;
    scrollbar-color: #09070D transparent;
    cursor: grab;
}
=======
.mundo-aberto {
     
    height: auto; 
    overflow-x: auto; 
    scrollbar-color:  #09070D transparent; 
}

.acao {
   
    height: auto; 
    overflow-x: auto; 
    scrollbar-color:  #09070D transparent; 
    cursor: pointer;
}
>>>>>>> 522324d780f5c444e1074cf8473e6c64f45c5cbc
