.container-destaques {
    width: 90%;
    max-width: 1300px;
    padding: 10px;
    margin: 50px auto;
    background: #14101D;
    border-radius: 25px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #09070D;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 90%;
}

.card img {
    border-radius:  15px 0 0 15px;
    width: 100%;
    max-width: 300px;
    margin: auto;
    position: relative;
    right: 280px;
    height: 100%;
}

.game-info {
    color: white;
    padding: 15px;
    text-align: center;
}

.buy-button {
    background-color: #e0e0e0;
    color: black;
    padding: 10px 24px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #c9c9c9;
}

@media (min-width: 768px) {
    .card {
        flex-direction: row;
        align-items: center;
    }

    .card img {
        width: 35%;
    }

    .game-info {
        text-align: left;
    }
}