@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.container-destaques {
    width: 90%;
    max-width: 1300px;
    padding: 10px;
    margin: 50px auto;
    background: #14101D;
    border-radius: 25px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #09070D;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 90%;
}

.card img {
    border-radius: 15px 0 0 15px;
    width: 100%;
    max-width: 300px;
    margin: auto;
    position: relative;
    right: 300px;
    height: 100%;
}

.game-info {
    color: white;
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    
}


.buy-button {
    background-color: #e0e0e0;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin-left: 35px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
}

.buy-button:hover {
    background-color: #c9c9c9;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.destaques {
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    
}


.info-icon {
    font-size: 16px;
    background: #c9c9c9;
    border-radius: 25%;
    padding: 2px 5px;
    margin-left: 0px;
    cursor: pointer;
}

.price {
    font-weight: bold;
    font-size: 20px;
    
}


.logo img {
    
    
}

