.footer-content {
    background-color: #09070D; 
    color: white; 
    padding: 20px 0; 
    text-align: center; 
    font-family: Arial, sans-serif; 
}

.footer-content p {
    font-size: 14px; 
    line-height: 1.6; 
    margin-bottom: 20px; 
}

.footer-links {
    list-style-type: none; 
    display: inline-flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.footer-links a {
    text-decoration: none; 
    color: white; 
    margin: 0 10px; 
}

.footer-links a:hover {
    color: #555; /
}

.footer-links li {
    display: inline; 
    font-size: 14px; 
}