/* Certifique-se de que o body ocupe toda a altura da tela */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.sobre {
    background-color: #09070D;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px 0 0 0; /* Remover margens, já que estamos centralizando com flexbox */
}

.sobre h2 {
    text-decoration: underline;
    font-family: 'Righteous', sans-serif; /* Adicionando uma fonte genérica como fallback */
    font-style: normal;
}

.sobre p {
    font-size: 1.2rem;
    margin: 20px;
}
